{{#if oudaAuth.isAuthenticated }}
{{log '1'}}
<div class="ui">

  {{outlet}}
  <footer>
    <div class="ui violet inverted grid segment" id="zeroMargin">
      <div class="sixteen wide column" id="footerStyle">
        Genesis Ideas <i class="copyright icon"></i> 2017
      </div>
    </div>
  </footer>

</div>
{{else}}
{{log '2'}}
<div>
  {{log '3'}}
  {{outlet "login"}}
</div>

{{/if}}