{{#if oudaAuth.isAuthenticated }}
{{log '1'}}
<div class="ui" style="background-color: #ede7f6; ">

  {{outlet}}
  <br>
  <footer style = "position:relative; bottom:0; width:100%; height:60px;">
    <div class="ui violet inverted grid segment">
      <div class="sixteen wide column" style="text-align: center; color: black; background-color: #CEB1F4;">
        © Copyright - Genesis Ideas
      </div>
    </div>
  </footer>

</div>
{{else}}
{{log '2'}}
    {{#if oudaAuth.getName}}
    {{log '4'}}

      {{log-out}}

    {{else}}
      {{log '3'}}
        {{outlet "login"}}
    {{/if}}

{{/if}}
