  <div class="ui grid">

    <div class="eight wide column" style="padding-right: 20px;">
      <div class="ui center aligned header" style="margin-bottom: 30px;">
        <h2>Delete Gender</h2>
      </div>

      <div class="ui middle aligned divided list" style="margin-top: 22px; margin-bottom: 22px;">
        {{#each genderModel as |oneGender|}}
        <div class="item">
          <div class="right floated content" style="padding-top: 3px; padding-bottom: 3px;">
            <div class="negative ui button" onclick={{action 'openEditGenderModal' oneGender}}>Edit</div>
            <div class="negative ui button" onclick={{action 'deleteGender' oneGender}}>Delete</div>
          </div>
          <div class="content" style="padding-top: 10px; font-size: 16px;">
            {{oneGender.name}}
          </div>
        </div>
        {{/each}}
      </div>
    </div>

    <div class="eight wide column" style="padding-left: 20px;">
      <div class="ui center aligned header" style="margin-bottom: 30px;">
        <h2>Add Gender</h2>
      </div>

      <div class="ui form">
        <div class="field">
          <label>Gender</label>
          {{input type="text"  value = genderName}}
        </div>
      </div>

      <div class="ui center aligned header">
        <button class="positive ui button" {{action 'addGender'}}>
          Add Gender
        </button>
      </div>
    </div>

  </div>





<!--Modal to edit gender-->
  <div class="ui modal genderEdit">
    <div class="header">
      Edit Gender
    </div>

    <div class="content">
      <div class="ui center aligned header" style="margin-bottom: 30px;">
        <h2>{{errorMsg}}</h2>
      </div>

      <div class="ui form">
        <div class="field">
          <label>Gender</label>
          {{input type="text"  value = editGenderName}}
        </div>
      </div>

    </div>


    <div class="actions">
      <button class="teal ui button" {{action 'closeEditGenderModal'}}>
        Cancel
      </button>

      <button class="green ui button" {{action 'editGender'}}>
        Update
      </button>
    </div>



  </div>
