  <div class="ui grid">

    <div class="eight wide column" style="padding-right: 20px;">
      <div class="ui center aligned header" style="margin-bottom: 30px;">
        <h2>Delete Gender</h2>
      </div>

      <div class="ui middle aligned divided list" style="margin-top: 22px; margin-bottom: 22px;">
        {{#each genderModel as |oneGender|}}
        <div class="item">
          <div class="right floated content" style="padding-top: 3px; padding-bottom: 3px;">
            <div class="negative ui button" onclick={{action 'deleteGender' oneGender}}>Delete</div>
            <div class="negative ui button" onclick={{action 'editGender' oneGender}}>Edit</div>
          </div>
          <div class="content" style="padding-top: 10px; font-size: 16px;">
            {{oneGender.name}}
          </div>
          <div class="field">
            <label>Gender</label>
            {{input type="text"  value = genderName}}
          </div>
        </div>
        {{/each}}
      </div>
    </div>

    <div class="eight wide column" style="padding-left: 20px;">
      <div class="ui center aligned header" style="margin-bottom: 30px;">
        <h2>Add Gender</h2>
      </div>

      <div class="ui form">
        <div class="field">
          <label>Gender</label>
          {{input type="text"  value = genderName}}
        </div>
      </div>

      <div class="ui center aligned header">
        <button class="positive ui button" {{action 'addGender'}}>
          Add Gender
        </button>
      </div>
    </div>

  </div>



{{!--
<div class="ui center aligned header">
  <h2>Modify Gender</h2>
</div>


<div class="ui middle aligned divided list">
  {{#each genderModel as |oneGender|}}
    <div class="item">
      <div class="content">
        <div class="header">
          <h3>
            {{oneGender.name}} <button class="negative ui button" onclick={{action 'deleteGender' oneGender}} style = "float: right;">Delete</button>
          </h3>
        </div>

      </div>
    </div>
  {{/each}}

</div>


<div class="ui grid">
  <div class="ui left aligned  seven wide column">
    <div class="ui form">
      <div class="inline field">
        <label>Gender</label>
        {{input type="text"  value = genderName}}
      </div>
    </div>
  </div>
</div>

<div class="ui center aligned header">
  <button class="positive ui button" {{action 'addGender'}}>
    Add Gender
  </button>
</div>--}}
