<div class="ui grid">

  <div class="eight wide column" style="padding-right: 20px;">
    <div class="ui center aligned header" style="margin-bottom: 30px;">
      <h2>Program Records</h2>
    </div>

    {{#ui-accordion class="styled fluid"}}
      {{#each programRecordModel as |oneprogramRecord|}}
      <div class="title" style="border-color: #6435c9">
        {{oneprogramRecord.name}}
      </div>
      <div class="content">
        <div class="ui vertically divided grid">
          <div class="one column row" style="padding-bottom: 0;">
            <div class="column">
              <p></p>
            </div>
          </div>
          <div class="two column row" style="padding: 0;">
            <div class="column">
              <p></p>
            </div>
            <div class="column">
              <p></p>
            </div>
          </div>
          <div class="one column row" style="padding: 0;">
            <div class="column">
              <p></p>
            </div>
          </div>
          <div class="one column row" style="padding: 0;">
            <div class="column">
              <p style="text-align: center;"><button class="negative ui button" onclick={{action 'deleteProgramRecord' oneprogramRecord}}>Delete</button></p>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    {{/ui-accordion}}
  </div>

  <div class="eight wide column" style="padding-right: 20px;">
    <div class="ui center aligned header" style="margin-bottom: 30px;">
      <h2>Add Program Record</h2>
    </div>

    <div class="ui sixteen wide column">
      <form class="ui form">
        <div class="field">
          <label>Program Record Name</label>
          {{input type="text"  value = programRecordName}}
        </div>
        <div class="three fields">
          <div class="field">
            <label>Level</label>
            {{input type="text"  value = programRecrdLevel}}
          </div>
          <div class="field">
            <label>Load</label>
            {{input type="text"  value = programRecordLoad}}
          </div>
          <div class="field">
            <label>Status</label>
            {{input type="text"  value = programRecordStatus}}
          </div>
        </div>
        <div class="two fields">
          <div class="field">
            <label>Grade Info</label>
            {{input type="text"  value = programRecordGradeInfo}}
          </div>
          <div class="field">
            <label>Course Code Info</label>
            {{input type="text"  value = courseCodeInfo}}
          </div>
        </div>
        <div class="two fields">
          <div class="field">
            <label>Term Code Info</label>
            {{input type="text"  value = termCodeInfo}}
          </div>
          <div class="field">
            <label>Plan Code Info</label>
            {{input type="text"  value = planCodeInfo}}
          </div> 
        </div>  
      </form>
    </div>

    <div class="ui center aligned header">
      <button class="positive ui button" {{action 'addProgramRecord'}}>
        Add Program Record
      </button>
    </div>
  </div>

</div>





{{!--<div class="ui center aligned header">
  <h2>Add Program Record</h2>
</div>

<div class="ui middle aligned divided list">
  {{#each programRecordModel as |oneprogramRecord|}}
    <div class="item">
      <div class="content">
        <div class="header">
          <h3>
            {{oneprogramRecord.name}} <button class="negative ui button" onclick={{action 'deleteProgramRecord' oneprogramRecord}} style = "float: right;">Delete</button>
          </h3>
        </div>

      </div>
    </div>
  {{/each}}
</div>

<div class="ui grid">
  <div class="ui middle aligned sixteen wide column">
    <div class="ui form">
      <div class="inline field">
        <label style= "font-size: 20px;">Program Record Name</label>
        {{input type="text"  value = programRecordName}}
        <br>
        <label style= "font-size: 20px;">Level</label>
        {{input type="text"  value = programRecrdLevel}}
        <br>
        <label style= "font-size: 20px;">Load</label>
        {{input type="text"  value = programRecordLoad}}
        <br>
        <label style= "font-size: 20px;">Status</label>
        {{input type="text"  value = programRecordStatus}}
        <br>
        <label style= "font-size: 20px;">Grade Info</label>
        {{input type="text"  value = programRecordGradeInfo}}
        <br>
        <label style= "font-size: 20px;">Course Code Info</label>
        {{input type="text"  value = courseCodeInfo}}
        <br>
        <label style= "font-size: 20px;">Term Code Info</label>
        {{input type="text"  value = termCodeInfo}}
        <br>
        <label style= "font-size: 20px;">Plan Code Info</label>
        {{input type="text"  value = planCodeInfo}}
        <br>
      </div>
    </div>
  </div>
</div>
<!---->
<div class="ui center aligned header">
  <button class="positive ui button" {{action 'addProgramRecord'}}>
    Add Program Record
  </button>
</div>
<!---->--}}
