<div class="ui pointing secondary three item menu" style="font-size: 16px;">

  <a class="active item" data-tab="planCode">Plan Codes</a>
  <a class="item" data-tab="termCode">Term Codes</a>
  <a class="item " data-tab="programRecord">Program Records</a>

</div>

<div class="ui bottom attached active tab segment" data-tab="planCode" style="background-color: #e2e0e2; padding-bottom: 35px; padding-top: 35px; padding-left: 50px; padding-right: 50px;">

  <div class="ui grid" style="background-color: #e2e0e2;">

    <div class="eight wide column" style="padding-right: 20px;">
      <div class="ui center aligned header" style="margin-bottom: 30px;">
        <h2>Plan Code</h2>
      </div>
      <div class="ui middle aligned divided list" style="margin-top: 22px; margin-bottom: 22px;">
        {{#each planCodeModel as |onePlanCode|}}
        <div class="item">
          <div class="content" style="padding-top: 10px; font-size: 16px;">
            {{onePlanCode.name}}
          </div>
          <div class="right floated content" style="padding-top: 3px; padding-bottom: 3px;">
            <div class="teal ui button" style="width: 55px;" onclick={{action 'openEditPlanCodeForm' onePlanCode}}><i class="large edit icon"></i></div>
            <div class="negative ui button" style="width: 55px;" onclick={{action 'deletePlanCode' onePlanCode}}><i class="large delete icon"></i></div>
          </div>

        </div>
        {{/each}}
      </div>



    </div>

    <div class="eight wide column" style="padding-right: 20px;">
      <form class="ui form">
        <div class="field">
          <label>Name: </label> {{input type="text" value = planCode}}
        </div>
      </form>

      <div class="ui center aligned header">
        <button class="positive ui button" {{action 'addPlanCode'}}>
          Add plan code
        </button>
      </div>
    </div>

  </div>


</div>




<div class="ui bottom attached tab segment" data-tab="termCode" style="background-color: #e2e0e2; padding-bottom: 35px; padding-top: 35px; padding-left: 50px; padding-right: 50px;">

  <div class="ui grid" style="background-color: #e2e0e2;">

    <div class="eight wide column" style="padding-right: 20px;">
      <div class="ui center aligned header" style="margin-bottom: 30px;">
        <h2>Term Codes</h2>
      </div>
      <div class="ui middle aligned divided list" style="margin-top: 22px; margin-bottom: 22px;">
        {{#each termCodeModel as |oneTermCode|}}
        <div class="item">
          <div class="content" style="padding-top: 10px; font-size: 16px;">
            {{oneTermCode.name}}
          </div>
          <div class="right floated content" style="padding-top: 3px; padding-bottom: 3px;">
            <div class="teal ui button" style="width: 55px;" onclick={{action 'openEditTermCodeForm' oneTermCode}}><i class="large edit icon"></i></div>
            <div class="negative ui button" style="width: 55px;" onclick={{action 'deleteTermCode' oneTermCode}}><i class="large delete icon"></i></div>
          </div>

        </div>
        {{/each}}
      </div>
    </div>

    <div class="eight wide column" style="padding-right: 20px;">
      <form class="ui form">
        <div class="field">
          <label>Name: </label> {{input type="text" value = termCode}}
        </div>
      </form>
      <div class="ui center aligned header">
        <button class="positive ui button" {{action 'addTermCode'}}>
          Add Term code
        </button>
      </div>
    </div>
  </div>
</div>



<div class="ui bottom attached tab segment" data-tab="programRecord" style="background-color: #e2e0e2; padding-bottom: 35px; padding-top: 35px; padding-left: 50px; padding-right: 50px;">
  <div class="ui grid" style="background-color: #e2e0e2;">

    <div class="eight wide column" style="padding-right: 20px;">
      <div class="ui center aligned header" style="margin-bottom: 30px;">
        <h2>Program Records</h2>
      </div>

      {{#ui-accordion class="styled fluid"}} {{#each programRecordModel as |oneprogramRecord|}}
      <div class="title" style="border-color: #6435c9">
        {{oneprogramRecord.name}}
      </div>
      <div class="content">
        <div class="ui vertically divided grid">
          <div class="one column row" style="padding-bottom: 0;">
            <div class="column">
              Level: {{oneprogramRecord.level}}
            </div>
          </div>
          <div class="one column row" style="padding: 0;">
            <div class="column">
              Load: {{oneprogramRecord.load}}
            </div>
          </div>
          <div class="one column row" style="padding: 0;">
            <div class="column">
              Status: {{oneprogramRecord.status}}
            </div>
          </div>
          <div class="one column row" style="padding: 0;">
            <div class="column">
              <p style="text-align: center;"><button class="teal ui button" style="width: 55px;" onclick={{action 'openEditProgramRecordForm' oneprogramRecord}}><i class="large edit icon"></i></button></p>
              <p style="text-align: center;"><button class="negative ui button" style="width: 55px;" onclick={{action 'deleteProgramRecord' oneprogramRecord}}><i class="large delete icon"></i></button></p>
            </div>
          </div>
        </div>
      </div>
      {{/each}} {{/ui-accordion}}
    </div>

    <div class="eight wide column" style="padding-right: 20px;">
      <div class="ui center aligned header" style="margin-bottom: 30px;">
        <h2>Add Program Record</h2>
      </div>

      <div class="ui sixteen wide column">
        <form class="ui form">
          <div class="field">
            <label>Program Record Name</label> {{input type="text" value = programRecordName}}
          </div>
          <div class="three fields">
            <div class="field">
              <label>Level</label> {{input type="text" value = programRecordLevel}}
            </div>
            <div class="field">
              <label>Load</label> {{input type="text" value = programRecordLoad}}
            </div>
            <div class="field">
              <label>Status</label> {{input type="text" value = programRecordStatus}}
            </div>
          </div>



          <div class="ui grid">
            <div class="ui sixteen wide column">

              <div class="ui middle aligned divided list" style="margin-top: 22px; margin-bottom: 22px;">
                {{#each programRecordPlanCode as |onePlanCode|}}
                <div class="item">
                  <div class="content" style="padding-top: 10px; font-size: 16px;">
                    {{onePlanCode.name}}
                  </div>
                  <div class="right floated content" style="padding-top: 3px; padding-bottom: 3px;">
                    <div class="negative ui button" style="width: 55px;" onclick={{action 'deleteFromPlanCodeArray' onePlanCode}}><i class="large delete icon"></i></div>
                  </div>

                </div>
                {{else}} You have not added any plan codes {{/each}}


              </div>

              <div class="two fields">
                <div class="field">
                  <label>Plan Code</label>
                  <select onchange={{action 'selectPlanCode' value="target.value" }}>
                  <option selected = "selected" value = null> Select a plan code </option>
                  {{#each planCodeModel as |onePlanCode|}}

                  <option value={{onePlanCode.id}} >{{onePlanCode.name}}</option>

                  {{/each}}
                </select>
                </div>
                <div class="field" style="align-self: flex-end;">
                  <button class="positive ui button" {{action 'addToPlanCodeArray'}}>
                    Add Plan Code
                  </button>
                </div>
              </div>


            </div>
          </div>

        </form>
      </div>

      <div class="ui center aligned header">
        <button class="positive ui button" {{action 'addProgramRecord'}}>
          Add Program Record
        </button>
      </div>
    </div>

  </div>
</div>









<!--modal to edit plan code-->
<div class="ui modal planCodeEdit">
  <div class="header">
    Edit Plan Code
  </div>

  <div class="content">
    <form class="ui form">
      <div class="field">
        <label>Name</label> {{input size="10" type="text" value = planCodeNameEdit}}
      </div>
    </form>
  </div>


  <div class="actions">
    <button class="ui primary button" {{action 'closeEditPlanCodeForm'}}>
      Exit
    </button>
    <button class="ui primary button" {{action 'editPlanCode'}}>
      Update
    </button>
  </div>



</div>









<!--modal to edit term code-->
<div class="ui modal termCodeEdit">
  <div class="header">
    Edit Term Code
  </div>

  <div class="content">
    <form class="ui form">
      <div class="field">
        <label>Name</label> {{input size="10" type="text" value = termCodeNameEdit}}
      </div>
    </form>
  </div>


  <div class="actions">
    <button class="ui primary button" {{action 'closeEditTermCodeForm'}}>
      Exit
    </button>
    <button class="ui primary button" {{action 'editTermCode'}}>
      Update
    </button>
  </div>



</div>









<!--modal to edit program record-->
<div class="ui modal programRecordEdit">
  <div class="header">
    Edit Program Record
  </div>

  <div class="content">
    <form class="ui form">
      <div class="field">
        <label>Program Record Name</label> {{input type="text" value = PRNameEdit}}
      </div>
      <div class="three fields">
        <div class="field">
          <label>Level</label> {{input type="text" value = PRLevelEdit}}
        </div>
        <div class="field">
          <label>Load</label> {{input type="text" value = PRLoadEdit}}
        </div>
        <div class="field">
          <label>Status</label> {{input type="text" value = PRStatusEdit}}
        </div>
      </div>



      <div class="ui grid">
        <div class="ui sixteen wide column">


          <div class="ui middle aligned divided list" style="margin-top: 22px; margin-bottom: 22px;">
            {{#each PRPlanEdit as |onePlanCode|}}
            <div class="item">
              <div class="content" style="padding-top: 10px; font-size: 16px;">
                {{onePlanCode.name}}
              </div>
              <div class="right floated content" style="padding-top: 3px; padding-bottom: 3px;">
                <div class="negative ui button" style=" width: 55px;" onclick={{action 'removePlanCodeEdit' onePlanCode}}><i class="large delete icon"></i></div>
              </div>

            </div>
            {{else}} You have not added any plan codes {{/each}}


          </div>

          <div class="field">
            <label>Plan Code</label>
            <select onchange={{action 'selectPlanCodeEdit' value="target.value" }}>
                <option selected = "selected" value = null> Select a plan code </option>
                {{#each planCodeModel as |onePlanCode|}}

                <option value={{onePlanCode.id}} >{{onePlanCode.name}}</option>

                {{/each}}
              </select>
          </div>

          <button class="positive ui button" {{action 'addPlanCodeEdit' }}>
              Add Plan Code
            </button>

        </div>
      </div>

    </form>
  </div>


  <div class="actions">
    <button class="ui primary button" {{action 'closeEditProgramRecordForm'}}>
      Exit
    </button>
    <button class="ui primary button" {{action 'editProgramRecord'}}>
      Update
    </button>
  </div>



</div>