<h2 style="text-align: center;">Assessment Adjudication Link</h2>

<div style="text-align: center;">
  <form class="ui form">
    <div class="field">
      <select onchange={{action 'selectAssessment' value="target.value" }}>
        <option value = null> Select Assessment </option>
        {{#each assessmentCodeModel as |oneassessmentCode|}}
        <option value={{oneassessmentCode.id}}>{{oneassessmentCode.name}}</option>
        {{/each}}
      </select>
    </div>
    <div class="field">
      <select onchange={{action 'selectAdjudication' value="target.value" }}>
        <option value = null> Select Adjudication </option>
        {{#each adjudicationModel as |oneAdjudication|}}
        <option value={{oneAdjudication.id}}>TermAVG: {{oneAdjudication.termAVG}} Note: {{oneAdjudication.note}}</option>
        {{/each}}
      </select>
    </div>

    <button class="ui secondary button" {{action 'linkAssessmentAdjudication'}}>
    Link
    </button>
  </form>
</div>