<div class="ui modal">
  <div class="header">List of 10 Students, click the arrow keys to get more students</div>
  <div class="content">
    {{#each studentsModel as |oneStudent|}}
      <div class="ui grid">
        <div class="ten wide column">
          <div class="actions">
            <div class="ui form">
              <div class="grouped fields">
                <div class="field">
                  <div class="ui radio checkbox">
                    <input type="radio"
                           onchange={{action 'getStudent' oneStudent}}>
                    <label>{{oneStudent.number}} {{oneStudent.firstName}}
                      {{oneStudent.lastName}}  </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="six wide column">
        </div>
      </div>
    {{/each}}

    <div class="actions">
      <hr>
      <div class="ui button" {{action "loadNext"}}>
        <i class="arrow right icon"></i>
      </div>
      <div class="ui button" {{action "loadPrevious"}}>
        <i class="arrow left icon"></i>
      </div>
      <div class="ui button" {{action "exit"}}>OK</div>
    </div>

  </div>
</div>

