<h2 style="text-align: center;">Assessment Department Link</h2>

<div style="text-align: center;">
  <form class="ui form">
    <div class="field">
      <select onchange={{action 'selectAssessment' value="target.value" }}>
        <option value = null> Select Assessment </option>
        {{#each assessmentCodeModel as |oneassessmentCode|}}
        <option value={{oneassessmentCode.id}}>{{oneassessmentCode.name}}</option>
        {{/each}}
      </select>
    </div>
    
    <div class="field">
      <select onchange={{action 'selectDepartment' value="target.value" }}>
        <option value = null> Select Department </option>
        {{#each departmentModel as |oneDepartment|}}
        <option value={{oneDepartment.id}}>{{oneDepartment.name}}</option>
        {{/each}}
      </select>
    </div>
    <button class="ui secondary button" {{action 'linkAssessmentDepartment'}}>
    Link
    </button>
  </form>
</div>