<!-- Display the login screen with the main application background -->
{{#if isPasswordChanging}}
<section class="hero">
  <div class="row intro">
    <div>
      <div class="row">
        <div class="large-10  large-centered columns">
          <div class="panel">
            <h3>Please change your password and login again</h3>
            <br>
            <div class="row">
              <div class="small-3 columns">
                <label class="right">Enter Password</label>
              </div>
              <div class="small-7 columns" class="left">
                {{input value=firstPassword type="password" }}
              </div>
            </div>
            <div class="row">
              <div class="small-3 columns">
                <label class="right">Reenter Password</label>
              </div>
              <div class="small-7 columns" class="left">
                {{input value=secondPassword type="password" }}
              </div>
            </div>
            <br> <br>
            <a href="#" class="button radius" {{action 'save'}}>Save</a>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>


{{else}}

<div class="ui one column center aligned grid" id="loginFormGrid">
  <div class="form-holder" id="loginFormBox">
    <h2 class="aligned header form-head" id="loginFormHeader">Western Engineering Students Adjudication System</h2>
    <div class="ui form">
      <div class="field" id="loginFormField">
        {{input value=name type="text" placeholder="user name"}}
      </div>
      <div class="field" id="loginFormField">
        {{input value=password type="password" placeholder="password"}}
      </div>
      <div class="field">
        <a class="ui button large fluid" id="loginButton" {{action 'login'}}>
            LOG IN
        </a>
        <p> {{errorMessage}}</p>
      </div>
    </div>
  </div>
</div>
{{/if}}