<div class="ui secondary center aligned grid padded segment" id="logoTitleSegment">
  <div class="two wide column" id="zeroPadding">

    <a href="#" {{action "home"}}>
      <img class="ui right aligned container image" src="/assets/images/UWO Stacked.png" id="westernLogo">
    </a>
  </div>

  <div class="fourteen wide column">
    <h2 id="titleHeader">Western Engineering Student Adjudication System</h2>
  </div>

</div>

<div class="ui grid secondary menu" id="mainNavbar">

  <a class="item active" {{action "home"}} id="mainNavbarButton">
    <i class="large home icon"></i> Home
  </a>
  <a class="item" {{action "studentsDataEntry"}} id="mainNavbarButton">
    <i class="large leanpub icon"></i> Students Records
  </a>

  <a class="item" {{action "studentAssessment"}} id="mainNavbarButton">
    <i class="large user icon"></i> Student Assessment
  </a>

  <div class="ui dropdown item" id="mainNavbarButton">
    <i class="large setting icon"></i> Configure
    <i class="dropdown icon"></i>
    <div class="menu">
      <a class="item configureItem" {{action "addResidency"}}>
          Configure Residency
        </a>
      <a class="item configureItem" {{action "addGender"}}>
          Configure Gender
        </a>
      <a class="item configureItem" {{action "addHighSchoolInfo"}}>
          Configure High School Information
        </a>
      <a class="item configureItem" {{action "addProgramRecord"}}>
          Configure Program Record Information
        </a>
    </div>
  </div>

  <div class="ui dropdown item" id="mainNavbarButton">
    <i class="large setting icon"></i> User Settings
    <i class="dropdown icon"></i>
    <div class="menu">
      <a class="item configureItem" {{action "userProfile"}}>
          User Profile
        </a>
      <a class="item configureItem" {{action "adminPortal"}}>
          Admin Portal
        </a>
    </div>
  </div>

  <a class="item" {{action "logout"}} id="mainNavbarLogoutButton">
    <i class="large power icon"></i>
  </a>
</div>

<div class="ui grid" id="zeroMargin">
  <div class="sixteen wide column" id="zeroPadding">
    <div class="ui segment" id="mainContent">
      {{#if isHomeShowing}} {{welcome-page}}
      {{/if}}
      {{#if isStudentsRecordsDataEntry}}
      {{student-data-entry}}
      {{/if}}
      {{#if isAddResidencyShowing}}
      {{add-residency}}
      {{/if}}
      {{#if isAddGenderShowing}}
      {{add-gender}}
      {{/if}}
      {{#if isAddHighSchoolInfoShowing}}
      {{add-highschoolrecord}}
      {{/if}}
      {{#if isAddProgramRecordShowing}}
      {{add-program-record-2}}
      {{/if}}
      {{#if isStudentAssessmentShowing}}
      {{student-assessment}}
      {{/if}}
      {{#if isUserSettingsShowing}}
      {{user-settings}}
      {{/if}}
      {{#if isLogoutShowing}}
      {{log-out}}
      {{/if}}
    </div>
  </div>
</div>