<div class="ui five item menu" style="background-color: #CEB1F4;">
  <div class="ui container" style="height: 60px;">
    <a class="item active" {{action "home"}} style="font-size: 17px; font-weight: bold;">
      <i class="home icon"></i> Home
    </a>
    <a class="item" {{action "studentsDataEntry"}} style="font-size: 17px; font-weight: bold;">
      <i class="large leanpub icon"></i> Students Records
    </a>
    <a class="item " {{action "addStudent"}} style="font-size: 17px; font-weight: bold;">
        <i class="large add user icon"></i> Add Student
    </a>
    <a class="item " {{action "addResidency"}} style="font-size: 17px; font-weight: bold;">
        <i class="large add user icon"></i> Add Residency
    </a>
    <a class="item " {{action "about"}} style="font-size: 17px; font-weight: bold;">
        <i class="large user icon"></i> About
    </a>
  </div>
</div>

<br/>

<div class="ui grid">

    <div class="sixteen wide column" style="background-color: #EEE3FD;">
        <div class="ui segment container" style="background-color: #CEB1F4;">
            {{#if isHomeShowing}}
                {{welcome-page}}
            {{/if}}
            {{#if isStudentsRecordsDataEntry}}
                {{student-data-entry}}
            {{/if}}
            {{#if isAboutShowing}}
                {{about-us}}
            {{/if}}
            {{#if isAddStudentShowing}}
                {{add-student}}
            {{/if}}
            {{#if isAddResidencyShowing}}
                {{add-residency}}
            {{/if}}
          {{#if isAddGenderShowing}}
            {{add-gender}}
          {{/if}}
        </div>
    </div>
</div>
