
  <div class="ui secondary center aligned grid padded segment" id="logoTitleSegment">

    <div class="two wide column" id="zeroPadding">
      <a href="#" {{action "home"}}>
        <img class="ui right aligned container image" src="/assets/images/UWO Stacked.png" id="westernLogo">
      </a>
    </div>

    <div class="fourteen wide column">
      <h2 id="titleHeader">Western Engineering Student Adjudication System</h2>
    </div>

  </div>

<div class="ui grid secondary menu" id="mainNavbar">

  <a class="four wide column item active" {{action "home"}} id="mainNavbarButton">
    <i class="large home icon"></i> Home
  </a>
  <a class="four wide column item" {{action "studentsDataEntry"}} id="mainNavbarButton">
    <i class="large leanpub icon"></i> Students Records
  </a>

  <div class="four wide column ui dropdown item" id="mainNavbarButton">
    <i class="large setting icon"></i> Configure
    <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item configureItem" {{action "addResidency"}}>
          Configure Residency
        </a>
        <a class="item configureItem" {{action "addGender"}}>
          Configure Gender
        </a>
        <a class="item configureItem" {{action "addHighSchoolInfo"}}>
          Configure High School Information
        </a>
        <a class="item configureItem" {{action "addProgramRecord"}}>
          Configure Program Record Information
        </a>
      </div>
  </div>

  <a class="three wide column item" {{action "studentAssessment"}} style="font-size: 16px; font-weight: bold; margin: 0; padding-left: 5%;">
    <i class="large user icon"></i> Student Assessment
  </a>

  <a class="four wide column item" {{action "about"}} id="mainNavbarButton">
    <i class="large user icon"></i> About
  </a>
</div>

<div class="ui grid" id="zeroMargin">
    <div class="sixteen wide column" id="zeroPadding">
        <div class="ui segment" id="mainContent">
            {{#if isHomeShowing}}
                {{welcome-page}}
            {{/if}}
            {{#if isStudentsRecordsDataEntry}}
                {{student-data-entry}}
            {{/if}}
            {{#if isAboutShowing}}
                {{about-us}}
            {{/if}}
            {{#if isAddResidencyShowing}}
                {{add-residency}}
            {{/if}}
          {{#if isAddGenderShowing}}
            {{add-gender}}
          {{/if}}
          {{#if isAddHighSchoolInfoShowing}}
            {{add-highschoolrecord}}
          {{/if}}
          {{#if isAddProgramRecordShowing}}
            {{add-program-record-2}}
          {{/if}}
          {{#if isStudentAssessmentShowing}}
            {{student-assessment}}
          {{/if}}
        </div>
    </div>
</div>
