<h1>Logical expression</h1>
<div class="ui grid">
  <div class="row">

    <div class="ui six wide column">
      <form class="ui form">
        <div class="field">
          <select onchange={{action 'selectLogicalExp' value="target.value" }}>
            <option selected = "selected" value = null> Select a logical expression </option>
            {{#each currentLogicExpList as |oneExp|}}
            <option value={{oneExp.id}}> {{oneExp.booleanExp}} </option>
            {{/each}}
          </select>
        </div>
      </form>
    </div>

    <div class="eight wide column" style="padding-right: 20px;">
      <div class="ui center aligned header" style="margin-bottom: 30px;">
        <h2>Logical Expression</h2>
      </div>
      <div class="ui middle aligned divided list" style="margin-top: 22px; margin-bottom: 22px;">
        {{#each selectedLogicalExpArray as |oneCurrentExp|}}
        <div class="item">
          <div class="content" style="padding-top: 10px; font-size: 16px;">
            {{oneCurrentExp.booleanExp}}
          </div>
          <div class="right floated content" style="padding-top: 3px; padding-bottom: 3px;">
            <div class="teal ui button" style="width: 55px;" onclick={{action 'openEditLogicalExpForm' oneCurrentExp}}><i class="large edit icon"></i></div>
            <div class="negative ui button" style="width: 55px;" onclick={{action 'deleteSelectedExp' oneCurrentExp}}><i class="large delete icon"></i></div>
          </div>

        </div>
        {{/each}}
      </div>
    </div>

    <div class="ui six wide column">
      <form class="ui form">
        <div class="field">
          <select onchange={{action 'selectCourse' value="target.value" }}>
            <option selected = "selected" value = null> Select a course </option>
            {{#each courseModel as |oneCourse|}}
            <option value={{oneCourse}}> {{oneCourse}} </option>
            {{/each}}
          </select>
        </div>
      </form>
    </div>


    <div class="ui four wide column">
      <form class="ui form">
        <div class="field">
          <select onchange={{action 'selectBool' value="target.value" }}>
            <option selected = "selected" value = null> Select an operator </option>
            {{#each boolOperators as |oneOperator|}}
            <option value={{oneOperator}}> {{oneOperator}} </option>
            {{/each}}
          </select>
        </div>
      </form>
    </div>

    {{#if numberFieldVisable}}
    <div class="four wide column">
      {{input type = "number" value=inputValue}}
    </div>
    {{/if}}


    <div class="four wide column" >
      {{#if showLogic}}
      <select class="ui search dropdown" onchange={{action 'selectlogicLink' value="target.value"}}>
        <option selected = "selected" value = null> Select a logic </option>
        {{#each logicalLink as |oneLogicalLink| }}
        <option value={{oneLogicalLink}}> {{oneLogicalLink}} </option>
        {{/each}}
      </select>
      {{/if}}
    </div>

    <button class="green ui button" {{action 'addLogicalExp'}}>
      Add
    </button>

    <button class="green ui button" {{action 'postLogicalExp'}}>
      post
    </button>
  </div>

</div>
