

<div class="ui grid">
  <div class="row">

    <div class="eight wide column" style="padding-right: 20px;">
      <div class="ui center aligned header" style="margin-bottom: 30px;">
        <h2>Logical Expression List</h2>
      </div>

      <div class="ui middle aligned divided list">
        {{#each logicalDemoArray as |oneDemo|}}
        <div class="item">
          <div class="right floated content" id="listDeleteButton">
            <div class="negative ui button">Delete</div>
          </div>
          <div class="content" id="listText">
             {{oneDemo}}
          </div>
        </div>
        {{/each}}
      </div>

      <div class="ui center aligned header" style="margin-bottom: 30px;">
        <button class="negative ui button" {{action 'deleteExpression'}}>
          Delete Expression
        </button>
      </div>

    </div>

    <div class="eight wide column" style="padding-right: 20px;">
      <div class="ui center aligned header" style="margin-bottom: 30px;">
        <h2>Add Logical Expression</h2>
      </div>

      <div class ="ui grid">
        <div class="row">

          <div class="four wide column" >
            {{#if showLogic}}
            <select class="ui search dropdown">
              <option selected = "selected" value = null> Select a logic </option>
              {{#each logicalLink as |oneLogicalLink| }}
                <option value={{oneLogicalLink}}> {{oneLogicalLink}} </option>
              {{/each}}
            </select>
            {{/if}}
          </div>



          <div class="four wide column" >
            <div class="field">
              <select class="ui search dropdown"onchange={{action 'selectCourse' value="target.value"}}>
                <option selected = "selected" value = null> Select a course </option>
                {{#each courseModel as |oneCourse|}}
                <option value={{oneCourse.id}}> {{oneCourse.name}} </option>
                {{/each}}
              </select>
            </div>
          </div>

          <div class="four wide column" >
            <div class="field">
              <select class="ui search dropdown" onchange={{action 'selectBool' value="target.value"}}>
                <option selected = "selected" value = null> Select a operator </option>
                {{#each boolExpression as |oneOperator|}}
                <option value={{oneOperator}}> {{oneOperator}} </option>
                {{/each}}
              </select>
            </div>
          </div>

          {{#if numberFieldVisable}}
          <div class="four wide column">
            {{input type = "number" value=inputValue}}
          </div>
          {{/if}}
        </div>
      </div>


      <div class="ui center aligned header" style="margin-bottom: 30px;">
        <button class="positive ui button" {{action 'addExpression'}}>
          Add
        </button>
      </div>

    </div>



  </div>
</div>
