{{!--<div class="ui pointing secondary two item menu">

  <a class="active item" data-tab="createLogicalExp"> Create  Logical Expressions</a>
  <a class="item" data-tab="adjudicationTab"> Edit Logical Expressions</a>

</div>--}}

{{!--<div class = "ui bottom attached active tab " data-tab="createLogicalExp" >--}}
  <div class="ui grid">
    <div class="row">

      <div class="sixteen wide column" style="padding-right: 20px;">
        <div class="ui grid">
          <div class="row">
            <div class="five wide column" style="text-align: right;">
              <button class="negative ui button" {{action 'deleteExpression'}}>
                Delete Expression
              </button>

            </div>
            <div class="six wide column">
              <div class="ui center aligned header" style="margin-bottom: 30px;">
                <h2>Assessment Code</h2>
              </div>
            </div>
            <div class="five wide column" style="text-align: left;">
              <button class="teal ui button" {{action 'openLogicalExpModal'}}>
                Add Expression
              </button>
              <button class="positive ui button" {{action 'saveExpOnDB'}}>
                Save Expression
              </button>
            </div>
          </div>
        </div>
        <div class="ui center aligned header" style="margin-bottom: 30px;">
          <select class="ui search dropdown"onchange={{action 'selectAssessmentcode' value="target.value"}}>
            <option selected = "selected" value = null> Select an assessment code </option>
            {{#each assessmentCodeModel as |oneAssessmentCode| }}
            <option value={{oneAssessmentCode.id}}> {{oneAssessmentCode.name}} </option>
            {{/each}}
          </select>
        </div>

        {{!--{{#if logicalDemoArray}}
        <div class="ui center aligned header" style="margin-bottom: 30px;">
          <h2>Logical Expression List</h2>
        </div>
        {{/if}}

        <div class="ui middle aligned divided list" style = "width: 50%; margin-left: 25%;">
          {{#each logicalDemoArray as |oneDemo|}}
          <div class="item">
            <div class="right floated content" id="listDeleteButton">
              <div class="negative ui button" style = "width: 55px;"onclick={{action 'deleteOneExp' oneDemo}}><i class="large delete icon"></i></div>
            </div>
            <div class="content" id="listText">
              {{oneDemo}}
            </div>
          </div>
          {{/each}}
        </div>--}}

      </div>


    </div>
  </div>
{{!--</div>--}}

{{!--
<div class = "ui tab" data-tab="adjudicationTab" >--}}

  <div class="ui center aligned header" style="margin-bottom: 30px;">
    <h2>Logical Expressions</h2>
  </div>

  <div class="ui middle aligned divided list" style = "width: 50%; margin-left: 25%;">
    {{#each logicalDBDemoArray as |oneLogicalExp|}}
    <div class="item">
      <div class="right floated content" id="listDeleteButton">

        <div class="negative ui button" style = "width: 55px;" onclick={{action 'deleteDBExp' oneLogicalExp}}><i class="large delete icon"></i></div>
      </div>
      <div class="content" id="listText">
        {{oneLogicalExp}}
      </div>
    </div>
    {{/each}}
  </div>



{{!--</div>--}}






<!--modal to add logical expression-->
<div class="ui modal logicalExp">
  <div class="header">
    Add Logical Expression
  </div>

  <div class="content">
    <div class="ui center aligned header" style="margin-bottom: 30px;">
      <h2>{{errorMsg}}</h2>
    </div>
    <div class ="ui grid">
      <div class="row">

        <div class="four wide column" >
          {{#if showLogic}}
          <select class="ui search dropdown" onchange={{action 'selectlogicLink' value="target.value"}}>
            <option selected = "selected" value = null> Select a logic </option>
            {{#each logicalLink as |oneLogicalLink| }}
            <option value={{oneLogicalLink}}> {{oneLogicalLink}} </option>
            {{/each}}
          </select>
          {{/if}}
        </div>



        <div class="four wide column" >
          <div class="field">
            <select class="ui search dropdown"onchange={{action 'selectCourse' value="target.value"}}>
              <option selected = "selected" value = null> Select a course </option>
              {{#each courseModel as |oneCourse|}}
              <option value={{oneCourse.id}}> {{oneCourse.name}} </option>
              {{/each}}
            </select>
          </div>
        </div>

        <div class="four wide column" >
          <div class="field">
            <select class="ui search dropdown" onchange={{action 'selectBool' value="target.value"}}>
              <option selected = "selected" value = null> Select a operator </option>
              {{#each boolExpression as |oneOperator|}}
              <option value={{oneOperator}} selected={{eq selectedBool oneOperator}}> {{oneOperator}} </option>
              {{/each}}
            </select>
          </div>
        </div>

        {{#if numberFieldVisable}}
        <div class="four wide column">
          {{input type = "number" value=inputValue}}
        </div>
        {{/if}}
      </div>
    </div>
  </div>


  <div class="actions">
    <button class="teal ui button" {{action 'closeLogicalExpModal'}}>
      Cancel
    </button>

    <button class="green ui button" {{action 'addExpression'}}>
      Add
    </button>
  </div>
</div>










<!--modal to Edit logical expression-->
<div class="ui modal logicalExpEdit">
  <div class="header">
    Edit Logical Expression
  </div>

  <div class="content">
    <div class="ui center aligned header" style="margin-bottom: 30px;">
      <h2>{{errorMsg}}</h2>
    </div>

    <div class="ui middle aligned divided list" style = "width: 50%; margin-left: 25%;">
      {{#each editDemoArray as |editDemo|}}
      <div class="item">
        <div class="right floated content" id="listDeleteButton">
          <div class="teal ui button" onclick={{action 'editDBExp' oneLogicalExp}}>Edit</div>
        </div>
        <div class="content" id="listText">
          {{editDemo}}
        </div>
      </div>
      {{/each}}
    </div>

    <div class="ui grid">
      <div class="row">

        <div class="four wide column">

          <select class="ui search dropdown" onchange={{action 'selectlogicLink' value="target.value"}}>
            <option selected = "selected" value = null> Select a logic </option>
            {{#each logicalLink as |oneLogicalLink| }}
            <option value={{oneLogicalLink}}> {{oneLogicalLink}} </option>
            {{/each}}
          </select>

        </div>


        <div class="four wide column">
          <div class="field">
            <select class="ui search dropdown"onchange={{action 'selectCourse' value="target.value"}}>
              <option selected = "selected" value = null> Select a course </option>
              {{#each courseModel as |oneCourse|}}
              <option value={{oneCourse.id}}> {{oneCourse.name}} </option>
              {{/each}}
            </select>
          </div>
        </div>


        <div class="four wide column">
          <div class="field">
            <select class="ui search dropdown" onchange={{action 'selectBool' value="target.value"}}>
              <option selected = "selected" value = null> Select a operator </option>
              {{#each boolExpression as |oneOperator|}}
              <option value={{oneOperator}} selected={{eq selectedBool oneOperator}}> {{oneOperator}} </option>
              {{/each}}
            </select>
          </div>
        </div>


        <div class="four wide column">
          {{#if numberFieldVisable}}
          <div class="four wide column">
            {{input type = "number" value=inputValue}}
          </div>
          {{/if}}
        </div>

      </div>
    </div>





  </div>


  <div class="actions">
    <button class="teal ui button" {{action 'closeLogicalExpEditModal'}}>
      Cancel
    </button>
  </div>



</div>
