<div class="ui grid">
  <div class="eight wide column">
    <h2 class="ui header" style="margin-top: 2px;">Manage Users</h2>
  </div>
  <div class="eight wide column right aligned">
    {{add-new-user}}
  </div>
</div>


<table class="ui table" style="margin-top: 25px; margin-bottom: 25px;">
  <thead>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email Address</th>
    <th>Enabled</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>

  {{#each usersModel as |user|}}
    <tr>
      <td>
        {{user.firstName}}
      </td>
      <td>
        {{user.lastName}}
      </td>
      <td>
        {{user.email}}
      </td>
      <td>
        {{enable-disable-account ID=user.id status=user.enabled}}
      </td>
      <td class="right aligned">
        {{assign-role ID=user.id}}
      </td>
      <td class="right aligned">
      {{edit-user ID=user.id }}
      </td>
      <td class="right aligned">
        {{delete-user ID=user.id }}
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>
