<div class="ui center aligned header">
  <h2>Students Records Data Entry</h2>
</div>

<!-- Show the menu bar-->
<div class="ui inverted menu" style="background-color: #4e2683;">
  <a class="item" {{action 'saveStudent'}}>
    <i class="save icon"></i>
    Save
  </a>
  <a class="item" {{action 'undoSave'}}>
    <i class="undo icon"></i>
    Undo
  </a>
    <a class="item" {{action 'deleteStudent'}}>
        <i class="remove user icon"></i>
        Delete
    </a>
  <a class="item" {{action 'firstStudent'}}>
    <i class="step backward icon"></i>
    First
  </a>
  <a class="item" {{action 'previousStudent'}}>
    <i class="arrow left icon"></i>
    Previous
  </a>
  <a class="item" {{action 'nextStudent'}}>
    <i class="arrow right icon"></i>
    Next
  </a>
  <a class="item" {{action 'lastStudent'}}>
    <i class="step forward icon"></i>
    Last
  </a>
  <a class="item" {{action 'allStudents'}}>
    <i class="content icon"></i>
    All Records
  </a>
  <a class="item" {{action 'findStudent'}}>
    <i class="search icon"></i>
    Find Record
  </a>
  <a class="item">
    Help
  </a>
</div>

{{#if showAllStudents}}
  <!-- Note that offset is an "in" and "out" parameter !-->
 {{all-students INDEX = currentIndex notDONE = showAllStudents offset = offset studentsModel = studentsRecords}}
{{else}}
  <!-- Show data entry form -->

  <div class="ui top attached tabular menu">

    <div class="active item" data-tab="basics" style="background-color: #EEE3FD;">Basic Info</div>
    <div class="item" data-tab="scholarshipAndAward" style="background-color: #EEE3FD;">Scholarships and Awards</div>
    <div class="item" data-tab="advancedStanding" style="background-color: #EEE3FD;">Advanced Standings</div>

  </div>

  <div class="ui bottom attached active tab segment" data-tab="basics">

    <!-- Basic Info Form -->

    <div class="ui grid" style="padding-right: 14px; background-color: #EEE3FD;">

      <div class="row" style="padding-bottom: 0;">
        <div class="ui eleven wide column">
          <form class="ui form">
            <div class="field">
              <label>Student Number</label>
              {{input size="10" type="text"  value =tempNumber focus-out='studentNumberStack'}}
            </div>

            <div class="two fields">
              <div class="field">
                <label>First Name</label>
                {{input type="text"  value = tempFN focus-out='studentFNStack'}}
              </div>
              <div class="field">
                <label>Last Name</label>
                {{input type="text"  value = tempLN focus-out='studentLNStack'}}
              </div>
            </div>

            <div class="two fields">
              <div class="field">
                <label>Gender</label>
                <select onchange={{action 'selectGender' value="target.value" }} >
                  {{#each genderModel as |genderChoice|}}
                    <option value={{genderChoice.id}} selected={{eq selectedGender.id
                                                                   genderChoice.id}}>{{genderChoice.name}} </option>
                  {{/each}}
            </select>
              </div>
              <div class="field">
                <label>Date of Birth</label>
                <input value={{selectedDate}} type="date" onchange={{action 'assignDate' value="target.value"}}>
              </div>
            </div>

            <div class="field">
              <label>Residency</label>
              <select onchange={{action 'selectResidency' value="target.value"}}>
                {{#each residencyModel as |residencyChoice|}}
                  <option value={{residencyChoice.id}} selected={{eq selectedResidency.id residencyChoice.id}}>{{residencyChoice.name}}</option>
                {{/each}}
              </select>
            </div>
          </form>
        </div>
        <div class="ui center aligned five wide column segment" style="margin-bottom: 14px;">
          <img  src={{tempPhoto}}>
        </div>
      </div>


      <div class="row" style="padding-top: 0;">
        <div class="ui sixteen wide column" style="padding-right: 0;">
          <form class="ui form">
            <div class="two fields">
              <div class="field">
                <label>Basis of Admission</label>
                {{input type="text"  value= tempBasisOfAdmission focus-out='studentBOAStack'}}
              </div>
              <div class="field">
                <label>Admission Average</label>
                {{input type="number" max=100 min=0 value=tempAdmissionAverage focus-out='studentAAStack'}}
              </div>
            </div>

            <div class="field">
              <label>Admission Comments</label>
              {{textarea rows="2" type="text"  value= tempAdmissionComments focus-out='studentACStack'}}
            </div>

            <div class="field">
              <label>Registration Comments</label>
                {{textarea rows="2" type="text"  value= tempRegistrationComments focus-out='studentRCStack'}}
            </div>
          </form>
        </div>
      </div>

    </div>

  </div>




  <!-- Advanced Standing Tab -->
  <div class = "ui tab" data-tab="advancedStanding" style="background-color: #eee3fd; padding: 14px;">

    <div class="ui sixteen wide column">
      <form class="ui form">
        <div class="field">
          <label>Course Name</label>
          {{input size="20" type="text"  value = courseNameAS}}
        </div>

        <div class="field">
          <label>Course Description</label>
          {{input size="20" type="text"  value = descriptionAS}}
        </div>

        <div class="two fields">
          <div class="field">
            <label>Units</label>
            {{input type="number" value = unitsAS}}
          </div>
          <div class="field">
            <label>Grade</label>
            {{input type="number" max=100 min=0 value = gradeAS}}
          </div>
        </div>

        <div class="field">
          <label>From</label>
          {{input size="20" type="text"  value = fromAS}}
        </div>

      </form>
    </div>

    <br />

    <button class="ui primary button" {{action 'addAS'}}>
      Add Advanced Standing
    </button>

    <br />

    {{#each listAS as |userListAS|}}
      {{#unless userListAS.isDeleted}}
        <br />
        <div class="ui radio checkbox">
          <input type="radio" name="advStandingRadio" onchange={{action 'getAdvancedStanding' userListAS}}>

          <label>Course: {{userListAS.course}} <br />
          Description: {{userListAS.description}}<br />
          Units: {{userListAS.units}}<br />
          Grade: {{userListAS.grade}}<br />
          From: {{userListAS.from}}</label><br />
        </div>
      {{/unless}}
    {{/each}}
    <br>
    <button class="ui button" onclick={{action 'deleteAS'}}>Delete</button>
  </div>

  <div class = "ui tab" data-tab="scholarshipAndAward" style="background-color: #eee3fd; padding: 14px;">

    <div class="ui form">
      <div class="field">
        <label>Note</label>

      {{textarea type="text" value = scholarshipAndAwardNote}}

      </div>
    </div>

    <br />

    <button class="ui primary button" {{action 'addScholarShipAndAward'}}>
      Add
    </button>
      <br />
    {{#each scholarShipAndAwardList as |userScholarShipAndAwardList|}}
        {{#unless userScholarShipAndAwardList.isDeleted}}
          <br />
          <div class="ui radio checkbox">
            <input type="radio" name="advStandingRadio" onchange={{action 'getScholarshipAward' userScholarShipAndAwardList}}>
              <label>Note: {{userScholarShipAndAwardList.note}}</label> <br />
          </div>
        {{/unless}}
    {{/each}}
    <br>
    <button class="ui button" onclick={{action 'deleteScholarshipAward'}}>Delete</button>
  </div>

{{/if}}
