<div class="ui center aligned header">
  <h2>Students Records Data Entry</h2>
</div>

<!-- Show the menu bar-->
<div class="ui inverted menu">
  <a class="item" {{action 'saveStudent'}}>
    <i class="save icon"></i>
    Save
  </a>
  <a class="item" {{action 'undoSave'}}>
    <i class="undo icon"></i>
    Undo
  </a>
  <a class="item" {{action 'firstStudent'}}>
    <i class="step backward icon"></i>
    First
  </a>
  <a class="item" {{action 'previousStudent'}}>
    <i class="arrow left icon"></i>
    Previous
  </a>
  <a class="item" {{action 'nextStudent'}}>
    <i class="arrow right icon"></i>
    Next
  </a>
  <a class="item" {{action 'lastStudent'}}>
    <i class="step forward icon"></i>
    Last
  </a>
  <a class="item" {{action 'allStudents'}}>
    <i class="content icon"></i>
    All Records
  </a>
  <a class="item" {{action 'findStudent'}}>
    <i class="search icon"></i>
    Find Record
  </a>
  <a class="item">
    Help
  </a>
</div>

{{#if showAllStudents}}
  <!-- Note that offset is an "in" and "out" parameter !-->
 {{all-students INDEX = currentIndex notDONE = showAllStudents offset = offset studentsModel = studentsRecords}}
{{else}}
  <!-- Show data entry form -->

  <div class="ui top attached tabular menu">
    <div class="active item" data-tab="basics">Basic Info</div>
    <div class="item" data-tab="program">Program Record</div>
    <div class="item" data-tab="others">Other tabs</div>
  </div>
  <div class="ui bottom attached active tab segment"data-tab="basics">
    <!-- student basic information !-->

    <div class="ui grid">
      <div class="ui right aligned  seven wide column">
        <div class="ui form">
          <div class="inline field">
            <label>Student Number</label>
            {{input size="10" type="text"  value = currentStudent.number}}
          </div>
          <div class="inline field">
            <label>First Name</label>
            {{input type="text"  value = currentStudent.firstName}}
          </div>
          <div class="inline field">
            <label>Last Name</label>
            {{input type="text" value = currentStudent.lastName }}
          </div>
          <div class="inline field">
            <label>Gender</label>
            <select onchange={{action 'selectGender' value="target.value"}}>
              <option value=1 selected={{eq 1 currentStudent.gender}}>Male</option>
              <option value=2 selected={{eq 2 currentStudent.gender}}>Female</option>
            </select>
          </div>
          <div class="inline field">
            <label>Date of Birth</label>
            <input value={{selectedDate}} type="date" onchange={{action 'assignDate' value="target.value"}}>
          </div>
          <div class="inline field">
            <label>Residency</label>
            <select onchange={{action 'selectResidency' value="target.value"}}>
              {{#each residencyModel as |residencyChoice|}}
                <option value={{residencyChoice.id}} selected={{eq currentStudent.resInfo.id
                                                                   residencyChoice.id}}>{{residencyChoice.name}} </option>
              {{/each}}
            </select>
          </div>
        </div>
      </div>
      <!-- Show student photo -->
      <div class="ui center aligned  seven wide column segment">
        <img  src={{studentPhoto}}>
      </div>
    </div>

  </div>
  <div class="ui tab" data-tab="program">
    <!-- Program records, courses and grades !-->
    <br>
    <h2>{{currentStudent.number}}</h2>
      <h3> {{currentStudent.firstName}} {{currentStudent.lastName}}</h3>
    <br><br><br>
  </div>
  <div class="ui tab" data-tab="others">
    <!-- Others !-->
    <h2>Other data</h2>
  </div>





{{/if}}













