
<div class="ui secondary center aligned grid padded segment" style="background-color: #EEE3FD;">

  <div class="two wide column" style="padding: 0;">
    <a href="#" {{action "home"}}>
      <img class="ui right aligned container image" src="/assets/images/UWO Stacked.png" style="width: 80px; height: 80px; padding: 0;">
    </a>
  </div>

  <div class="fourteen wide column">
    <h2 style="font-size: 40px; margin-top: 0; color: #4e2683;">Western Engineering Student Adjudication System</h2>
  </div>

</div>

<div class="ui grid secondary menu" style="background-color: #CEB1F4; margin-top: 0;  text-align: center;">
  <a class="eight wide column item" {{action "goBack"}} style="font-size: 16px; font-weight: bold; margin: 0; padding-left: 5%;">
     Back
  </a>
</div>


{{#if ADM01IsPermitted }}

  <div class="ui grid">
    <div class="three wide column">
      <div class="ui violet vertical pointing menu">
        <a class="item active" {{action "manageUsers"}}>
          <i class="large users icon"></i>
          Users Accounts
        </a>
        <a class="item" {{action "manageRoles"}}>
          <i class="large list layout icon"></i>
          System Roles
        </a>
        <a class="item " {{action "manageFeatures"}}>
          <i class="large lock icon"></i>
          System Features/Privileges
        </a>
      </div>
    </div>
    <div class="thirteen wide column ">
      <div class="ui segment container">
        {{#if isUsersShowing}}
          <br>
          {{manage-users}}
        {{/if}}
        {{#if isRolesEditing }}
          <br>
          {{manage-roles}}
        {{/if}}
        {{#if isFeaturesEditing }}
          <br>
          {{manage-features}}
        {{/if}}
      </div>
    </div>
  </div>

{{else}}
  <div class="ui center aligned raised segment">
    <div class="ui icon header">
      <i class="protect icon"></i>
      Permission Denied
    </div>
    <div>
      <p>This feature (ADM01) is not allowed for your account.</p>
      <p>Please contact the system administrator for more information.</p>
    </div>

  </div>

{{/if}}
